.label {
  margin-top: 5px;

  font-size: 26px;
}

.icon {
  margin-right: 10px;
}

.input {
  margin-top: 5px;
  padding: 2px 10px;

  font-size: 20px;
  color: darkgrey;

  border-style: none;
  border: 1px solid rgb(189, 188, 188);
  border-radius: 3px;
  box-shadow: 4px 4px 5px 1px rgba(172, 171, 171, 0.7);
}
